
p {
  text-align: center;
  font-style: italic;
  color: blue;
} 

p:before{
  content: "Importante";
  margin-right: 5px;
  background-color: black;
  color: red;
}

p:after{
  content: "mestre!";
  margin-left: 5px;
  color: red;
  background-color: black;
}
